
## <summary>policy for bytncoin</summary>


########################################
## <summary>
##	Transition to bytncoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bytncoin_domtrans',`
	gen_require(`
		type bytncoin_t, bytncoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bytncoin_exec_t, bytncoin_t)
')


########################################
## <summary>
##	Execute bytncoin server in the bytncoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bytncoin_initrc_domtrans',`
	gen_require(`
		type bytncoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bytncoin_initrc_exec_t)
')


########################################
## <summary>
##	Search bytncoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bytncoin_search_lib',`
	gen_require(`
		type bytncoin_var_lib_t;
	')

	allow $1 bytncoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bytncoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bytncoin_read_lib_files',`
	gen_require(`
		type bytncoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bytncoin_var_lib_t, bytncoin_var_lib_t)
')

########################################
## <summary>
##	Manage bytncoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bytncoin_manage_lib_files',`
	gen_require(`
		type bytncoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bytncoin_var_lib_t, bytncoin_var_lib_t)
')

########################################
## <summary>
##	Manage bytncoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bytncoin_manage_lib_dirs',`
	gen_require(`
		type bytncoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bytncoin_var_lib_t, bytncoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bytncoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bytncoin_admin',`
	gen_require(`
		type bytncoin_t;
		type bytncoin_initrc_exec_t;
		type bytncoin_var_lib_t;
	')

	allow $1 bytncoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, bytncoin_t)

	bytncoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bytncoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bytncoin_var_lib_t)

')

